<div {{ attributes }}>

    <input
        type="number"
        value={{min}}
        data-model="min"
        data-action="change->live#update"
    >

    <input
        type="number"
        value={{max}}
        data-model="max"
        data-action="change->live#update"
    >

    Generating a number between {{min}} and {{max}}
    <strong>{{ this.randomNumber }}</strong>

    <button
        data-action="live#$render"
    >Generate a new number!</button>
</div>
